# Cache files
__pycache__/
.mypy_cache/

# Project files
.idea/
.vscode/
*.log
*.txt
.env
*.session
*.session-journal
*.json

# Custom plugins
app/plugins/custom

# Session, user settings, other files
app/files
